main{
    width: 1300px;
    /* border:2px solid #ff6464; */
    height: auto;
    /* margin: auto; */
    box-sizing: border-box;
    padding: 30px;
}
.ul-wrap{
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    margin-top: 20px;
    margin-left: 900px;
    padding-bottom: 50px;
}
li{
    text-decoration: none;
    list-style-type: none;
    
}
li >a{
    text-decoration: none;
    color:black;
    font-weight: bold;
}

h6{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
h1{
    margin-left: 150px;
    font-size: 30px;
}
.interaction{
    display: flex;
    margin-left: 150px;
}

.icon{
    margin-left: 500px;
    margin-top: 100px;
    font-size: 30px;
 }
 .fa{
     margin-left: 10px;
 }
 .copy{
     margin-left: 500px;
 }